{% extends 'employee/base.html'%}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>LastName</th>
      <th>FirstName</th>
      <th>Email</th>
      <th>Department</th>
      <th>Club</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employee_list %}
    <tr>
      <td>{{ employee.pk}}</td>
      <td>{{ employee.last_name}}</td>
      <td>{{ employee.first_name}}</td>
      <td>{{ employee.email}}</td>
      <td>{{ employee.department}}</td>
      <td>{% for club in employee.club.all %}
            {{ club }}
          {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
